* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box; /*Asegura que el borde y el margen sumen 100% */
}
body{
  background-color: white;
}
select{
  cursor: pointer;
}
.little{
  font-family: cursive;
  font-size: 10px;
}
.radiob{
  text-align: center;
  vertical-align: center;
}
p .text-rigth{
  text-align: right;
}
img .p{
  width: 175px;
  height: 175px;
  
}
body {
  margin-top: 0px;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.container2 {
  margin: 0;
  padding: 0;
 
  width: 100%;

  margin-right: auto;
  margin-left: auto;
}

form {
  width: 300px;
  margin: 0 auto;
  background-color: white;
  padding: 10px;
  color: black;
  border-radius: 3px;
  font-size: 0.8em;
  
}
.form-group-input{
  position: relative;

}
.form-input-error{
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}
.form-input-error-activo{
   display: block;
}
.form-validation-state{
  position: absolute;
  bottom: 15px;
  right: 10px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
  width:15px;
}
p{
  font-size: 12px;
      line-height: 1;

}
.titulo-Libros{
  background: #01016D; 
  color:white; 
  
}
.titulo-Libros:hover{
  background:#0605FE;
  color: #ccc;
}
.form-message{
  height: 45px;
  line-height: 45px;
  font-size: 0.8em;
  background: #f66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
  color: black;
}

.form-message-active{

  display: block;
}

.form-message p{
  margin:0;
}
.me__formulario{
  display: none;
}
.me_formulario-active{
  display: block;
}
/*estilos para validacion de formularios*/
.form-group-correct
.form-validation-state{
color: rgb(17, 238, 35);
opacity: 1;
display: none;
}

.form-group-wrong
.form-label{
color: rgb(231, 20, 9);

}

.form-group-correct
.form-label{
  color: rgb(17, 238, 35);
  
  }
.form-group-wrong
.form-validation-state{
color: rgb(231, 20, 9);
opacity: 1;
}

.form-group-wrong
.img-container{
border: 3px solid rgb(231, 20, 9);

}

.img-container{
  width: 100%;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: .3s ease all;
}
.img-container:focus{
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163,163,163,163,0.4);
}
input,
textarea {
  outline: none;
  border: 0;
  width: 280px;
  cursor:pointer;
}
.center {
  text-align: center;
  vertical-align: center;

}
.lderecha{
  background: #FFFF99;
  padding: 0 15px;
    
  display: none;
  color: black;

}
.field {
  border: solid 1px #ccc;
  padding: 10px;
  width: auto;
  margin-bottom: 20px;
}
.field:focus {
  border-color: #40b2f5;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
}

.form-control2 {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  
}
.controlxs{
  display: block;
  width: 50%;
  padding: 0.160rem 0.25rem;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.0;
  color: #e9eaec;
  background-color: rgb(208, 24, 24);
 
  
}

label .mas{
  display: none;
}
label .mas:hover{
 display: block;
}
li{
  cursor:pointer;
}
form{
  width: 100%;
}
.icono-seguimiento{
  width: 30px;
  height: 30px;
  
}
.img-menu-settings{
  width: 100px;
  height: 100px;
  padding: 20px;
  margin: 0;
}
.controlxs:hover{
  background: red;
  color:white;
}
.btn {
  border-radius: 3px;
  width: 100%;
  cursor:pointer;
}
.btn-gray {
  background-color: rgba(130, 57, 41, 0.53);
  
  color: white;
}
.btn-gray:hover {
  background-color: rgba(222, 74, 123, 0.53);
  color: white;
}
.btn-success {
  background-color: green;
  color: white;
}
.btn-success:hover {
  background-color: rgb(23, 235, 16);
  color: white;
}
.btn-primary {
  background-color: cornflowerblue;
  color: white;
}
.btn-primary:hover {
  background-color: blue;
  color: white;
  
}
.button-container{
  display:flex;
  flex-direction: column;
 
}

.btn-success {
  background-image: linear-gradient(to bottom, #4CAF50, #2E8B57);
  color: #fff;
}

.btn-danger {
  background-image: linear-gradient(to bottom, #FF5722, #E64A19);
  color: #fff;
}

select{
  text-align: center;
}
.estadisticas{
  background-color: rgba(222, 74, 123, 0.53);
}
.btn-danger {
  background-color: red;
  color: white;
  width: 100%;
}
.btn-white{
  font-size: 20px;
  color:white;
}
.btn-white:hover{
  
  color:gray;
}

.btn-danger:hover {
  background-color: crimson;
  color: white;
}
.btn-warning {
  background-color: rgba(247, 235, 10, 0.922);
  
  color: black;
}
.btn-warning:hover {
  background-color: rgba(247, 235, 10, 0.922);
  color: black;
}

.bordering-top {
  border-top: 1px solid rgb(58, 56, 56);
}
.user-logo {
  width: 80px;
  text-align: center;
}
a .user-icono {
  width: 20px;
  text-align: center;
}
.logos-enfermeria {
  width: 30px;
  text-align: center;
}
.success{
  color: rgb(23, 235, 16);
}
.warning{
  color: rgba(247, 235, 10, 0.922);
}
.danger{
  color: crimson;
}
.white{
  color:#ccc;

}
.blink{
  animation: 2s linear infinite condemned_blink_effect;
}
@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.round-corners{
  border-radius: 15%
}
div .si{
  margin: 0;
  padding: 0%;

}
.userlo {
  width: 30px;
}
.title {
  font-family: verdana;
  font-size: 12px;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.input-group-text {
  display: flex;
  align-items: center;
  vertical-align:middle;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}

.row {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  clear: both; /* este hace que no se suban las cajas a otras filas sella huevos dejados en filas*/
  display: table; /*permite que texto viaje a otra fila o poner color a caja fila*/
}
.encabezado{
  background: #01016D;
  color:#ced4da;
}
.nav-button-cargar{
  display: flex;
  /* height: 55%; */
  width: 13rem;
  font-size: 1rem;
  background-color: #0c8ce9;
  color: white;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 12px 0 rgb(0 0 0 / 30%);
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
  margin-left: 5px;
}
/* .postit{
  background:#95DEEA ;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;  
  padding: 20px 0;
} */
.postit{
  width: 50%;
  height: 125%;
  box-shadow: 0 6px 12px 0 rgb(0 0 0 / 30%);
  transition-duration: 300ms;
  margin: 0rem 0rem;
  border-radius: 1rem;
  background-color: #95DEEA;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.amarillo{
  color:F9F54B;
  background: F9F54B;
  border-color: #FF5722;
}
.antecedentes{
  /* width: 50%;
  height: 125%; */
  box-shadow: 0 6px 12px 0 rgb(0 0 0 / 30%);
  transition-duration: 300ms;
  margin: 0rem 0rem;
  border-radius: 1rem;
  background-color: #95DEEA;
  /* display: flex; */
  justify-content:center;
  align-items: center;
  /* flex-direction: row; */
  padding: 1rem;
}

.postit h6,
.postit div,
.postit h4{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.postit div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.postit h6{
  font-size: 20px;
  font-weight: bold;
}
.postit div p{
  font-size: 16px;
  gap:5px;
}
.enf-tabla p{
font-size: 14px;
padding: 0;
margin: 0px;
}
.enf-tabla p b{
color:#0F4E75;

}
.enf-descripcion p{
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  padding-top: 5px;
  color:#0F4E75;
} 


.contenedor_grafico {
  width: 50%;
  height: 125%;
  box-shadow: 0 6px 12px 0 rgb(0 0 0 / 30%);
  transition-duration: 300ms;
  margin: 0rem 0rem;
  border-radius: 1rem;
  background-color: #fff;
  display: flex;
  justify-content:center;
  align-items: center;
  
  padding: 1rem;
}
/* Caracteristias de los columnas dependiendo de la cantidad de columnas */
[class*="col-"] {
  float: left;
  padding: 05px;
}
/*=========================================================================================
    PANTALLA GRANDE (LARGE) LG
    ==========================================================================================*/
  
@media (min-width: 1200px) {

  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.333333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.3333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666666%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-05 {
    width: 4.16666665%;
  }
  .col-lg-0 {
    display: none;
  }
}
/*=========================================================================================
    PANTALLA mediana (medium) md
    ==========================================================================================*/
@media (max-width: 1199px) and (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.333333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.3333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666666%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-05 {
    width: 4.16666665%;
  }
  .col-md-0 {
    display: none;
  }
}

/*=========================================================================================
    PANTALLA chicas (small) sm
    ==========================================================================================*/

@media (max-width: 991px) and (min-width: 770px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.333333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.3333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666666%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-05 {
    width: 4.16666665%;
  }
  .col-sm-0 {
    display: none;
  }
}
/*=========================================================================================
    PANTALLA moviles (extrasmall) xs
    ==========================================================================================*/
@media (max-width: 769px) {
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-7 {
    width: 58.333333333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-4 {
    width: 33.3333333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66666666%;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
  .col-sm-05 {
    width: 4.16666665%;
  }
  .col-xs-0 {
    display: none;
  }

.enf-descripcion {
  padding-bottom: 60px;
}
.nav-button-cargar{
  width: 100%;
  margin: 0;
}
}